@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@0,600;1,400;1,500&family=Varela&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-bg-topbar: White;
  --color-topbar-icons: Black;
  --color-sidebar-bg: #fbfbfb;
  --color-post-tag: #be9656;
  --color-singlePost-date: #be9656;
  --color-singlePost-author: #be9656;
  --color-contactpage-sendbtn-bg: White;
}

html {
  scroll-behavior: smooth;
}

.link {
  text-decoration: none;
  color: inherit;
}
